  <%=render "partials/navigation"%>
  <%if user_signed_in?%>
<h1>Editando Furón</h1>
<%= render 'form' %>
<%= link_to 'Mostrar', @van %> |
<%= link_to 'Atrás', vans_path %>
<%else%>
<p>
  <strong>Para acceder a esta información debe iniciar seción</strong>
</p>

  <%= link_to 'Atrás', vans_path %>
  <%end%>
