  <%=render "partials/navigation"%>
<p id="notice"><%= notice %></p>

<h1>Lista de Furgones</h1>
<%if user_signed_in?%>
<div class="panel panel-primary">
<table class="table">
  <thead>
    <tr>
      <th>Patente</th>
      <th>Capacidad</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @vans.each do |van| %>
      <tr>
        <td><%= van.patente %></td>
        <td><%= van.capacidad %></td>
        <td><%= link_to 'Mostrar', van ,class:"btn btn-primary btn-lg active btn-sm "%></td>
        <td><%= link_to 'Editar', edit_van_path(van) , class:"btn btn-warning btn-lg active btn-sm "%></td>
        <td><%= link_to 'Eliminar', van, method: :delete, data: { confirm: '¿Está seguro?' },class:"btn btn-danger btn-lg active btn-sm "  %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @vans, renderer: BootstrapPagination::Rails %>
</div>
<%= link_to 'Nuevo Furgon', new_van_path,class:"btn btn-default btn-lg active btn-sm " %>
<%= link_to 'Atrás','welcome/index',class:"btn btn-default btn-lg active btn-sm "%>
<%else%>
<div class="panel panel-primary">
<table class="table">
  <thead>
    <tr>
      <th>Patente</th>
    </tr>
  </thead>

  <tbody>
    <% @vans.each do |van| %>
      <tr>
        <td><%= van.patente %></td>
          </tr>
    <% end %>
  </tbody>
</table>
<%= will_paginate @vans, renderer: BootstrapPagination::Rails %>
</div>
<%= link_to 'Atrás','welcome/index',class:"btn btn-default btn-lg active btn-sm "%>
<%end%>
