  <%=render "partials/navigation"%>
  <%if user_signed_in?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Patente:</strong>
  <%= @van.patente %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @van.capacidad %>
</p>
<%= link_to 'Editar', edit_van_path(@van),class:"btn btn-default btn-lg active btn-sm " %>
<%= link_to 'Atr치s', vans_path ,class:"btn btn-default btn-lg active btn-sm "%>

<%else%>
<p>
  <strong>Para acceder a esta informaci칩n debe iniciar seci칩n</strong>
</p>

  <%= link_to 'Atr치s', vans_path ,class:"btn btn-default btn-lg active btn-sm "%>
  <%end%>
