<p id="notice"><%= notice %></p>

<p>
  <strong>Patente:</strong>
  <%= @van.patente %>
</p>

<p>
  <strong>Capacidad:</strong>
  <%= @van.capacidad %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @van.estado %>
</p>

<p>
  <strong>Kilometraje:</strong>
  <%= @van.kilimetrage %>
</p>

<%= link_to 'Editar', edit_van_path(@van) %> |
<%= link_to 'Atrás', vans_path %>
