<%= form_for(@spending) do |f| %>
  <% if @spending.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@spending.errors.count, "error") %> prohibited this spending from being saved:</h2>

      <ul>
      <% @spending.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.number_field :monto %>
  </div>
  <%= f.label :"Furgon" %>
  <div class="controls">
     <%= collection_select( :speding, :speding_id, Van.all, :id, :patente, {}, { :multiple => false } ) %>
   </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
