<%= form_for(@student) do |f| %>
  <% if @student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% @student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :rut %><br>
    <%= f.text_field :rut %>
  </div>
   <div class="control-group">
      <%= f.label "jornada", class: 'control-label' %>
      <div class="controls">
        <%= f.select(:jornada, options_for_select([['Mañana', 'Mañana'], ['Tarde', 'Tarde'], ['Completa', 'Completa']]), { prompt: 'Seleccione El tipo de jornada' }) %>
 </div>
  <div class="field">
    <%= f.label :direccion %><br>
    <%= f.text_field :direccion %>
  </div>
  <div class="field">
    <%= f.label :comuna %><br>
    <%= f.text_field :comuna %>
  </div>
  <div class="control-group">
  <%= f.label :parent_id, "Apoderado", class: 'control-label' %>
  <div class="controls">
    <%= collection_select( :student, :parent_id, Parent.all, :id, :nombre, {}, { :multiple => false } ) %>
  </div>
  <div class="control-group">
  <%= f.label :school_id, "Colegio", class: 'control-label' %>
  <div class="controls">
    <%= collection_select( :student, :school_id, School.all, :id, :nombre, {}, { :multiple => false } ) %>
  </div>
  <div class="control-group">
  <%= f.label :van_id, "Furgon", class: 'control-label' %>
  <div class="controls">
    <%= collection_select( :student, :van_id, Van.all, :id, :patente, {}, { :multiple => false } ) %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
