<p id="notice"><%= notice %></p>

<h1>Listing Students</h1>

<div class="panel panel-primary">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Rut</th>
      <th>Jornada</th>
      <th>Dirección</th>
      <th>Comuna</th>
      <th>Apoderado</th>
      <th>Colegio</th>
      <th>Furgón</th>
      <th colspan="3"></th>
    </tr>
  </thead>
ombre
  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.nombre %></td>
        <td><%= student.apellido %></td>
        <td><%= student.rut %></td>
        <td><%= student.jornada %></td>
        <td><%= student.direccion %></td>
        <td><%= student.comuna %></td>
        <td><%= student.parent.nombre %></td>
        <td><%= student.school.nombre %></td>
        <td><%= student.van.patente %></td>
        <td><%= link_to 'Mostrar', student %></td>
        <td><%= link_to 'Editar', edit_student_path(student) %></td>
        <td><%= link_to 'Eliminar', student, method: :delete, data: { confirm: '¿está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<%= link_to 'Nuevo Alumno', new_student_path %>
<%= link_to 'Atrás','welcome/index'%>
