<%=render "partials/navigation"%>
<%if user_signed_in?%>
<div class="panel panel-primary">
<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.apellido %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @student.rut %>
</p>

<p>
  <strong>Jornada:</strong>
  <%= @student.jornada %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @student.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @student.comuna %>
</p>

<p>
  <strong>Apoderado:</strong>
  <%= @student.parent.nombre%> <%=@student.parent.apellido%>
</p>

<p>
  <strong>Colegio:</strong>
<%= @student.school ? @student.school.nombre : 'Asigne Colegio'%>
</p>
<p>
  <strong>Furg贸n:</strong>
  <%= @student.van ? @student.van.patente : 'Asigne Furg贸n'%>
</p>

<%= link_to 'Editar', edit_student_path(@student),class:"btn btn-info btn-sm  btn-lg active"  %>
<%= link_to 'ir a la lista de Alumnos', students_path ,class:"btn btn-info btn-sm  btn-lg active"%>
</div>
<%else%>
<p>
  <strong>Para acceder a esta informaci贸n debe iniciar seci贸n</strong>
</p>

  <%= link_to 'ir a la lista de Alumnos', students_path,class:"btn btn-default btn-lg active btn-sm " %>
  <%end%>
