<%=render "partials/navigation"%>
<%if user_signed_in?%>
<p id="notice"><%= notice %></p>
<p>
  <strong>Nombre:</strong>
  <%= @student.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @student.apellido %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @student.rut %>
</p>

<p>
  <strong>Jornada:</strong>
  <%= @student.jornada %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @student.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @student.comuna %>
</p>

<p>
  <strong>Apoderado:</strong>
  <%= @student.parent.nombre %>
</p>

<p>
  <strong>Colegio:</strong>
</p>
  <%= @student.school ? @student.school.nombre : 'Asigne Colegio'%>
<p>
  <strong>Furgón:</strong>
  <%= @student.van ? @student.van.patente : 'Asigne Furgón'%>
</p>

<%= link_to 'Editar', edit_student_path(@student) %> |
<%= link_to 'Atrás', students_path %>
<%else%>
<p>
  <strong>Para acceder a esta información debe iniciar seción</strong>
</p>

  <%= link_to 'Atrás', students_path %>
  <%end%>
