<html>
<head>
  <%=render "partials/navigation"%>
</head>
<body>
  <p class="lead"><FONT SIZE=16 COLOR=#190707 face="verdana"><I>Transportes FLores Mella</I></font></p>
<figure>
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-ride ="carousel"></li>
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
    		<div style="text-align:center;" > <img class="mediana" src='<%= asset_path 'imagenfurgon' %>' alt="imagen1"></div>
          <div class="carousel-caption">
          </div>
        </div>

        <div class="item">
        <div style="text-align:center;" ><img class="mediana" class="img-rounded" src='<%= asset_path 'imagen1' %>' alt="imagen2"></div>
        <div class="carousel-caption">
                  </div>
        </div>

        <div class="item">
          <div style="text-align:center;" ><img class="mediana" class="img-rounded" src='<%= asset_path 'imagen2'%>' alt="imagen3"></div>
          <div class="carousel-caption">
                </div>
        </div>
        </div>

      <a class="left carousel-control" href="#carousel" data-slide="prev" >
        <font size=20> <%="<"%> </font>
      </a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
        <font size=20> <%=">"%> </font>
      </a>
    </div>
    <figcaption>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
<font size=3 color=#190707 face="verdana">Llevamos màs de 10 años de experiencia transportando</font><br/>
 </figcaption>
</figure>
   <div class="footer">
      <div class="container">
      <p class="lead" > <font color=#FFFFFF>Numero de contacto: +56986321589</font></p>
  </div>
</div>
    </body>
   </html>
