<header>
<div class="container>
<nav class="navbar navbar-inverse">
  <ul class="nav nav-pills">
  <li role="presentation" class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
   
      Gestionar <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
        <li role="presentation"><%= link_to 'Apoderados', controller: 'parents' %></li>
        <li role="presentation"><%= link_to 'Colegios', controller: 'schools' %></li>
        <li role="presentation"><%= link_to 'Furgones', controller: 'vans' %></li>
        <li role="presentation"><%= link_to 'Trabajador', controller: 'workers' %></li>
    </ul>
</li>
<% if user_signed_in? %>
Logged in as <strong><%= current_user.email %></strong>.
<li role="presentation" class="dropdown">
<%= link_to 'Editar', edit_user_registration_path, :class => 'navbar-link' %>
</li>
<li role="presentation" class="dropdown">
<%= link_to "Desconectar", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
</li>
<% else %>
<li role="presentation" class="dropdown">
<%= link_to "Crear Cuenta", new_user_registration_path, :class => 'navbar-link'  %>
</li>
<li role="presentation" class="dropdown">
<%= link_to "Entrar", new_user_session_path, :class => 'navbar-link'  %>
</li>
<% end %>
</ul>
</nav>
</header>
