<html>
<head>
  <%=render "partials/navigation"%>
</head>
<body>
  <p class="lead"><FONT SIZE=16 COLOR=#190707 face="verdana"><I>Transportes FLores Mella</I></font></p>
<figure>
    <div id="carousel" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-ride ="carousel"></li>
        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">
        <div class="item active">
    		<div style="text-align:center;" > <img class="mediana" src='<%= asset_path 'imagenfurgon' %>' alt="imagen1"></div>
          <div class="carousel-caption">
          </div>
        </div>

        <div class="item">
        <div style="text-align:center;" ><img class="mediana" class="img-rounded" src='<%= asset_path 'imagen1' %>' alt="imagen2"></div>
        <div class="carousel-caption">
                  </div>
        </div>

        <div class="item">
          <div style="text-align:center;" ><img class="mediana" class="img-rounded" src='<%= asset_path 'imagen2'%>' alt="imagen3"></div>
          <div class="carousel-caption">
                </div>
        </div>
        </div>

      <a class="left carousel-control" href="#carousel" data-slide="prev" >
        <font size=20> <%="<"%> </font>
      </a>
      <a class="right carousel-control" href="#carousel" data-slide="next">
        <font size=20> <%=">"%> </font>
      </a>
    </div>
    <figcaption>

      <font size=3 color=#190707 face="verdana"></font><br/>
      <font size=3 color=#190707 face="verdana"></font><br/>
      <font size=3 color=#190707 face="verdana"><font><br/>
      <font size=3 color=#190707 face="verdana">Transportes FLores Mella es una empresa familiar</font><br/>
      <font size=3 color=#190707 face="verdana">que desde el año 2004 presta servicios de transporte</font><br/>
      <font size=3 color=#190707 face="verdana">escolar. Desde nuestros comienzos nos hemos destacado</font><br/>
      <font size=3 color=#190707 face="verdana">por entregar un servicio de excelencia, puntualidad,</font><br/>
      <font size=3 color=#190707 face="verdana">responsabilidad y sobre todo mucho cariño y respeto</font><br/>
      <font size=3 color=#190707 face="verdana">a nuestros niños, ya que como padres tenemos claro la</font><br/>
      <font size=3 color=#190707 face="verdana">enorme responsabilidad que significael traslado de los </font><br/>
      <font size=3 color=#190707 face="verdana">los niños a sus destinos.</font><br/>
 </figcaption>
</figure>
</div>
  <p class="lead"><FONT COLOR=#190707 face="verdana"><I>Mision</I></font></p>
    <font size=3 color=#190707 face="verdana">Entregar un servicio de calidad  a cada uno de nuestros padres, otorgando</font><br/>
    <font size=3 color=#190707 face="verdana">una ruta planificada sin sobresaltos para que todos nuestros niños lleguen </font><br/>
    <font size=3 color=#190707 face="verdana">a sus destinos sanos y salvos.</font><br/><br/>

    <p class="lead"><FONT COLOR=#190707 face="verdana"><I>Vision</I></font></p>
      <font size=3 color=#190707 face="verdana">Consolidarnos como la mejor empresa de Transporte Escolar de Peñaflor, con</font><br/>
      <font size=3 color=#190707 face="verdana">proyecciones a comunas vecinas en donde aun no estamos presentes. </font><br/><br/>

      <p class="lead"><FONT COLOR=#190707 face="verdana"><I>Valores</I></font></p>
        <font size=3 color=#190707 face="verdana">Responsabilidad: Como padres sabemos la  enorme tarea y confianza que</font><br/>
        <font size=3 color=#190707 face="verdana"> depositan en noesotros para el traslado y cuidado de sus hijos </font><br/></br>
        <font size=3 color=#190707 face="verdana">Compromiso: El disfrutar nuestro trabajo nos incita a mejorar dia a dia</font><br/>
        <font size=3 color=#190707 face="verdana"> y a seguir comprometidos para que cada papa y mama se queden con la </font><br/>
        <font size=3 color=#190707 face="verdana"> tranquilidad de que sus hijos estan en buenas manos. </font><br/></br>
        <font size=3 color=#190707 face="verdana">Puntualidad: Todas nuestras rutas estan planificadas con anterioridad y</font><br/>
        <font size=3 color=#190707 face="verdana">cuentan con un margen de tiempo necesario apra que cada niño llegue a su</font><br/>
        <font size=3 color=#190707 face="verdana">destino a salvo sin caer en atrasos ni excesos de velocidad. </font><br/></br>
        <font size=3 color=#190707 face="verdana">Trabajo en equipo: El tener la oportundad de trabajar en familia, refuerza</font><br/>
        <font size=3 color=#190707 face="verdana">nuestros valores y nos ayuda a mantener una comunicacion constante para resolver </font><br/>
        <font size=3 color=#190707 face="verdana">de manera efectiva cualquier inconveniente que se presente. </font><br/></br>

        <font size=3 color=#190707 face="verdana"></font><br/>
        <font size=3 color=#190707 face="verdana"> </font><br/>
        <font size=3 color=#190707 face="verdana"></font><br/>
<div class="footer">
       <div class="container">
       <p class="lead" > <font color=#FFFFFF>Numero de contacto: +56986321589</font></p>
</div>
   </html>
