<p id="notice"><%= notice %></p>

<h1>Lista de Alumnos</h1>
<div class="panel panel-default">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Jornada</th>
      <th>Direccion</th>
      <th>Comuna</th>
      <th>Parent</th>
      <th>Van</th>
      <th>School</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stundents.each do |stundent| %>
      <tr>
        <td><%= stundent.nombre %></td>
        <td><%= stundent.apellido %></td>
        <td><%= stundent.jornada %></td>
        <td><%= stundent.direccion %></td>
        <td><%= stundent.comuna %></td>
        <td><%= stundent.parent %></td>
        <td><%= stundent.van %></td>
        <td><%= stundent.school %></td>
        <td><%= link_to 'Mostrar', stundent %></td>
        <td><%= link_to 'Editar', edit_stundent_path(stundent) %></td>
        <td><%= link_to 'Eliminar', stundent, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo Estudiante', new_stundent_path %>
