<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @stundent.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @stundent.apellido %>
</p>

<p>
  <strong>Rut:</strong>
  <%= @stundent.rut %>
</p>

<p>
  <strong>Jornada:</strong>
  <%= @stundent.jornada %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @stundent.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @stundent.comuna %>
</p>

<p>
  <strong>Parent:</strong>
  <%= @stundent.parent %>
</p>

<p>
  <strong>Van:</strong>
  <%= @stundent.van %>
</p>

<p>
  <strong>School:</strong>
  <%= @stundent.school %>
</p>

<%= link_to 'Edit', edit_stundent_path(@stundent) %> |
<%= link_to 'Back', stundents_path %>
