<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @stundent.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @stundent.apellido %>
</p>


<p>
  <strong>Jornada:</strong>
  <%= @stundent.jornada %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @stundent.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @stundent.comuna %>
</p>

<p>
  <strong>Apoderado:</strong>
  <%= @stundent.parent %>
</p>

<p>
  <strong>Furgon:</strong>
  <%= @stundent.van %>
</p>

<p>
  <strong>Escuela:</strong>
  <%= @stundent.school %>
</p>

<%= link_to 'Editar', edit_stundent_path(@stundent) %> |
<%= link_to 'Atrás', stundents_path %>
