<%=render "partials/navigation"%>
    <%if user_signed_in?%>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
<p>
  <strong>Monto:</strong>
  <%= @salary.monto %>
</p>
<p>
  <strong>Fecha:</strong>
  <%= @salary.created_at.strftime "%d-%m-%Y" %>
</p>

<p>
  <strong>Trabajador :</strong>
  <%= @salary.worker.nombre %>
</p>
<%= link_to 'Editar', edit_salary_path(@salary),class:"btn btn-info btn-sm  btn-lg active"  %>
<%= link_to 'Atras', salaries_path,class:"btn btn-info btn-sm  btn-lg active"  %>
<%else%>
<p>
  <strong>Para acceder a esta información debe iniciar seción</strong>
</p>
<%= link_to 'Atrás', salaries_path,class:"btn btn-default btn-sm  btn-lg active" %>
<%end%>
