<%= form_for(@pay) do |f| %>
  <% if @pay.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pay.errors.count, "error") %> prohibited this pay from being saved:</h2>

      <ul>
      <% @pay.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :mes %><br>
    <%= f.text_field :mes %>
  </div>

  <div class="controls">
     <%= collection_select( :pay, :parent_id, Parent.all, :id, :nombre, {}, { :multiple => false } ) %>
   </div>
  <div class="field">
    <%= f.label :monto %><br>
    <%= f.number_field :monto %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
