<%=render "partials/navigation"%>
  <%if user_signed_in?%>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
<p>
  <strong>Mes:</strong>
  <%= @pay.mes %>
</p>

<p>
  <strong>Fecha:</strong>
  <%= @pay.created_at.strftime "%d-%m-%Y" %>
</p>
<p>
  <strong>Apoderado:</strong>
  <%= @pay.parent.nombre %>
</p>
<p>
  <strong>Monto:</strong>
  <%= @pay.monto %>
</p>
<%= link_to 'Editar', edit_pay_path(@pay),class:"btn btn-info btn-sm  btn-lg active"  %>
<%= link_to 'Atras', pays_path,class:"btn btn-info btn-sm  btn-lg active"  %>
</div>
<%else%>
<p>
  <strong>Para acceder a esta información debe iniciar seción</strong>
</p>

  <%= link_to 'Atrás', pays_path,class:"btn btn-default btn-sm  btn-lg active" %>
  <%end%>
