<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @school.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @school.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @school.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @school.comuna %>
</p>

<%= link_to 'Editar', edit_school_path(@school) %> |
<%= link_to 'Atrás', schools_path %>
