<%=render "partials/navigation"%>
<%if user_signed_in?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @school.nombre %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @school.telefono %>
</p>

<p>
  <strong>Direccion:</strong>
  <%= @school.direccion %>
</p>

<p>
  <strong>Comuna:</strong>
  <%= @school.comuna %>
</p>

<%= link_to 'Editar', edit_school_path(@school),class:"btn btn-default btn-sm  btn-lg active" %> |
<%= link_to 'Atr치s', schools_path,class:"btn btn-default btn-lg active btn-sm " %>
<%else%>
<p>
  <strong>Para acceder a esta informaci칩n debe iniciar seci칩n</strong>
</p>

  <%= link_to 'Atr치s', schools_path,class:"btn btn-default btn-lg active btn-sm " %>
  <%end%>
