<%= form_for(@worker) do |f| %>
  <% if @worker.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@worker.errors.count, "error") %> prohibited this worker from being saved:</h2>

      <ul>
      <% @worker.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nombre %><br>
    <%= f.text_field :nombre %>
  </div>
  <div class="field">
    <%= f.label :apellido %><br>
    <%= f.text_field :apellido %>
  </div>
  <div class="field">
    <%= f.label :rut %><br>
    <%= f.text_field :rut %>
  </div>

  <div class="control-group">
      <%= f.label "tipo_trabajador", class: 'control-label' %>
      <div class="controls">
        <%= f.select(:tipo_trabajador, options_for_select([['Chofer', 'Chofer'], ['Auxiliar', 'Auxiliar']]), { prompt: 'Seleccione un Tipo de Trabajador' }) %>
 </div>

  <div class="field">
    <%= f.label :sueldo %><br>
    <%= f.number_field :sueldo %>
  </div>
  <div class="control-group">
  <%= f.label :van_id, "Furgon", class: 'control-label' %>
  <div class="controls">
    <%= collection_select( :worker, :van_id, Van.all, :id, :patente, {}, { :multiple => false } ) %>
  </div>


  <div class="actions">
    <%= f.submit %>
  </div>
  <% end %>
