<p id="notice"><%= notice %></p>

<h1>Lista de Trabajadores</h1>

<div class="panel panel-primary">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Rut</th>
      <th>Tipo trabajador</th>
      <th>Sueldo</th>
      <th>Van</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workers.each do |worker| %>
      <tr>
        <td><%= worker.nombre %></td>
        <td><%= worker.apellido %></td>
        <td><%= worker.rut %></td>
        <td><%= worker.tipo_trabajador %></td>
        <td><%= worker.sueldo %></td>
        <td><%= worker.van ? worker.van.patente : 'Asigne Furgón' %></td>
        <td><%= link_to 'Mostrar', worker %></td>
        <td><%= link_to 'Editar', edit_worker_path(worker) %></td>
        <td><%= link_to 'Eliminar', worker, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<body>
<%= link_to 'Nuevo Trabajador', new_worker_path %>
<%= link_to 'Atrás','welcome/index'%>
</body>
