<%=render "partials/navigation"%>
<%if user_signed_in?%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @worker.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @worker.apellido %>
</p>
<p>
  <strong>Rut:</strong>
  <%= @worker.rut %>
</p>

<p>
  <strong>Tipo trabajador:</strong>
  <%= @worker.tipo_trabajador %>
</p>

<p>
  <strong>Sueldo:</strong>
  <%= @worker.sueldo %>
</p>

<p>
  <strong>Furgón:</strong>
  <%= @worker.van ? @worker.van.patente : 'Asigne Furgón' %>
</p>

<%= link_to 'Editar', edit_worker_path(@worker) ,class:"btn btn-default btn-lg active btn-sm "%>
<%= link_to 'Atrás', workers_path ,class:"btn btn-default btn-lg active btn-sm "%>
<%else%>
<p>
  <strong>Para acceder a esta información debe iniciar seción</strong>
</p>
<%= link_to 'Atrás', workers_path,class:"btn btn-default btn-lg active btn-sm "%>
  <%end%>
