<div>
  <div class="panel panel-primary">
    <th><font size=4,font color="black",face="verdana"><%= "Apoderado: " %></th></font>
    <th><font size=4,font color="black",face="verdana"><%= parent.nombre %></th></font>
    <th><font size=4,font color="black",face="verdana"><%= parent.apellido%></th></font>
  <table class="table">
    <thead>
      <tr>
        <th>Mes pagado</th>
        <th>Fecha de Pago</th>
        <th>Monto</th>
        <th colspan="3"></th>
      </tr>
    </thead>
      <tbody>
  <tr>
           <% Pay.all.each do |pay| %>
              <%if parent.id==pay.parent_id%>
              <td><%= pay.mes %></td>
              <td><%= pay.created_at.strftime "%d-%m-%Y" %></td>
              <td><%= pay.monto %></td>
              <td><%= link_to 'Mostrar', pay ,class:"btn btn-primary btn-lg active btn-sm "%></td>
              <td><%= link_to 'Editar', edit_pay_path(pay), class:"btn btn-warning btn-lg active btn-sm " %></td>
              <td><%= link_to 'Eliminar', pay, method: :delete, data: { confirm: '¿Està seguro de eliminar el pago?' },class:"btn btn-danger btn-lg active btn-sm " %></td>
               <%end%>
            </tr>
          <% end %>
        </tbody>
      </thead>
      </table>
      </div>
      <body>
</div>
