<p id="notice"><%= notice %></p>

<h1>Lista de apoderados</h1>

<div class="panel panel-primary">
<table class="table">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Telefono</th>
      <th>Pago</th>
    <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @parents.each do |parent| %>
      <tr>
        <td><%= parent.nombre %></td>
        <td><%= parent.apellido %></td>
        <td><%= parent.telefono %></td>
        <td><%= parent.pago %></td>
        <td><%= link_to 'Mostrar', parent %></td>
        <td><%= link_to 'Editar', edit_parent_path(parent) %></td>
        <td><%= link_to 'Eliminar', parent, method: :delete, data: { confirm: '¿Está seguro?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<body>
  <%= link_to 'Nuevo Apoderado', new_parent_path %>
</body>
