<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @parent.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @parent.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @parent.telefono %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @parent.pago %>
</p>
<p>
<%= link_to 'Editar', edit_parent_path(@parent) %> 
</p>
<%= link_to 'Atrás', parents_path %>
