  <%=render "partials/navigation"%>
    <%if user_signed_in?%>
<div class="panel panel-primary">
<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @parent.nombre %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @parent.apellido %>
</p>

<p>
  <strong>Telefono:</strong>
  <%= @parent.telefono %>
</p>

<p>
  <strong>Pago:</strong>
  <%= @parent.pago %>
</p>
<p>
  <strong>Rut:</strong>
  <%= @parent.rut %>
</p>
  <tr>
<p>
    <%= link_to 'Editar', edit_parent_path(@parent),class:"btn btn-info btn-sm  btn-lg active" %>
    <%= link_to 'Atrás', parents_path ,class:"btn btn-info btn-sm  btn-lg active"%>
</p>
  </tr>
<p>
  <strong>Alumnos asignados a este Apoderado</strong>
</p>
  <table class="table">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% Student.all.each do |student| %>
        <tr>
          <%if @parent.id==student.parent_id%>
          <td><%= student.nombre %></td>
          <td><%= student.apellido %></td>
          <td><%= link_to 'Mostrar', student,class:"btn btn-primary btn-lg active btn-sm "  %></td>
          <td><%= link_to 'Editar', edit_student_path(student), class:"btn btn-warning btn-lg active btn-sm " %></td>
          <td><%= link_to 'Eliminar', student, method: :delete, data: { confirm: '¿Está seguro?' },class:"btn btn-danger btn-lg active btn-sm " %></td>
           <%end%>
        </tr>
      <% end %>
    </tbody>
  </table>
  </div>
  <%else%>
  <p>
    <strong>Para acceder a esta información debe iniciar seción</strong>
  </p>

    <%= link_to 'Atrás', parents_path,class:"btn btn-default btn-sm  btn-lg active" %>
    <%end%>
